html {
    max-width: 1200px;
    min-height: 800px;
    max-height: 800px;
}

a, a:hover, a:active {
    text-decoration: none;
    color: #666;
}

.genres .choices .content {
    color: #666;
    text-decoration: none;
    width: 150px;
    height: 150px;
    margin: 10px;
    background-color: white;
    border: 1px solid #f69a00;
    border-radius: 2px;
    display: inline-block;
}

.main {
    height: 1200px;
}

.genres {
    top: 10%;
    position: relative;
}

.top-row {
    margin: 0 auto;
    width: 60%;
    top: 20%;
}

.bottom-row {
    margin: 0 auto;
    width: 60%;
}

.genres i {
    color: black;
    font-size: 30px;
    text-align: center;
    width: 100%;
    margin: -5px 0 15px 0;
}

.genres p {
    text-align: center;
}

.content {
    height: 100%;
    padding: calc(150px/2/1.6) 0
}

#genre-title {
    margin-bottom: 20px;
    color: #0F2C56;
    font-size: 26pt;
    text-align: center;
}

.genre-img {
    margin: 0 56px;
}

.button-navigation {
    min-height: 50px;
    width: 59%;
    margin: 0 auto;
    padding-top: 40px;
}

.button-navigation #back {
    float: left;
}

.button-navigation #next {
    float: right;
    margin-right: 27px;
}

.voortgang-balk {
    margin-top: 160px !important;
}