/* ALGEMEEN */
.algemeen-button {
    background-color: #f49908;
    border: 2px solid #f49908;
    padding: 5px 50px;
    border-radius: 5px;
    color: #ffffff;
}

h2, h3 {
    color: #0f2c56;
    font-family: 'Ubuntu', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.algemeen-h2,
.algemeen-h3 {
    color: #0f2c56;
    font-family: 'Ubuntu', sans-serif;
}

h2, h3 {
    color: #0f2c56;
    font-family: 'Ubuntu', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.algemeen-h2,
.algemeen-h3 {
    color: #0f2c56;
    font-family: 'Ubuntu', sans-serif;
}

.algemeen-link {
    color: #000000 !important;
    font-size: 14px;
    font-weight: 600;
}

.algemeen-link::before {
    color: #000000;
}

.row {
    margin: 0!important;
}

html {
    height: 800px;
    max-height: 800px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 25px;
    border: 1px solid black;
}

.container {
    max-width: 1400px;
}

a {
    text-decoration: none !important;

}

/* NAVIGATIE */
.navigatie {
    background-color: #f8991c !important;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navigatie a {
    color: #ffffff;
}

.navigatie-zoeken i {
    color: #0f2c56;
    font-size: 20px;
}

/* ZOEK FULL SCREEN */
#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: rgba(255, 255, 255, 0.95);

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
    -moz-transform: translate(0px, -100%) scale(0, 0);
    -o-transform: translate(0px, -100%) scale(0, 0);
    -ms-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);

    opacity: 0;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
    -o-transform: translate(0px, 0px) scale(1, 1);
    -ms-transform: translate(0px, 0px) scale(1, 1);
    transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    left: 20%;
    width: 60%;
    color: rgb(116, 116, 116);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: none;
    border-bottom: 4px solid rgb(116, 116, 116);
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}

#search .btn {
    position: absolute;
    top: 47%;
    right: 20%;
    background-color: #f49908;
    -webkit-mask: url('../img/search.svg') no-repeat;
    mask: url('../img/search.svg') no-repeat;
    width: 50px;
    height: 50px;
}

#search .btn img {
    width: 50px;
    color: #f49908;
}

#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
    background-color: #f49908;
    border-color: #f49908;
    opacity: 1;
    padding: 10px 17px;
    font-size: 27px;
}


/* CTA SLIDER */
.cta-slider {
    height: 800px;
}

.carousel-item img {
    height: 800px;
    object-fit: cover;
}

/* CTA BLOKKEN */
.cta-blocks,
.cta-slider {
    padding: 0px !important;
}

.cta-blokken {
    height: 800px;
}

.cta-links {
    height: calc(800px/3);
    text-align: center;
    padding: calc(800px/3/3) 0px;
    border: 1px solid #f49908;
}

.cta-links img {
    width: 60px;
    margin: -15px 0 15px 0;
    color: #f49908;
}

/* CAROUSEL */
/* .carousel .carousel-item {
    height: 25em;
  }
  
  .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 25em;
  } */


  /* PAGINA UITLEG */
  .uitleg {
      margin: 0 auto;
      text-align: center;
      padding: calc(800px/2/2);
  }

  .uitleg-button {
      margin-top: 20px;
  }

  /* VRAGEN */


  .vragen-links {
    width: 150px;
    height: 150px;
    margin: 10px;
    border: 1px solid #f69a00;
    border-radius: 2px;
  }

  .vragen-links i {
    color: black;
    font-size: 30px;
    text-align: center;
    margin-top: 32%;
}

.vragen-links i img {
    width: 45px;
    margin-top: 30%;
    margin-bottom: -7%;
}

.vragen-links .fa-stack {
    margin-top: 10%;
}

.vragen-links .fa-stack i {
    margin-top: 40%;
}

.vragen-links p {
    text-align: center;
}

.buttons {
    width: 150px;
    margin: 10px;
    margin-top: 20px;
}

.buttons button {
    background-color: #f49908;
    border: 2px solid #f49908;
    padding: 5px 20px;
    border-radius: 5px;
    color: #ffffff;
    width: 100%;
}

/* PAGINA UITLEG */
.uitleg {
    margin: 0 auto;
    text-align: center;
    padding: calc(800px/2/2);
}

.uitleg-button {
    margin-top: 20px;
}

/* HOMEPAGE */

/* PAGINA UITLEG */
 
/* PAGINA GENRE */

/* PAGINA BOEK */
.boek-page {
    padding-top: 5%;
}

/* PAGINA BOEK WARNING */

/* PAGINA LOCATIES */
.locaties { 
    padding-top: 3%;
}

.locaties p {
    margin-bottom: 0.5rem;
}

.locaties td {
    padding:0 !important;
}